@media (min-width:320px) and (max-width:575.99px){
    /* Navber part start */
    .navbar-brand img{
        width: 85%;
    }
    .navbar-toggler{
        border: 0px;
        margin-right: -20px;
        
    }
    .navbar-toggler:focus{
        box-shadow:0px 0px 0px transparent !important

    }
    .fa-solid{
        color: white;
        font-size: 16px;
    }
    .navbar-collapse{
        background: #3b0888f2;
        border-radius: 10px;
        margin-top: 20px;
    }
    .navbar-nav{
	
	padding: 20px 0px;
	align-items: center;
}
   .nav-item{
    padding: 10px 0px;
}
.navber-button{
    display: inline-block;
    margin-bottom: 10px;
}
.navbar .nav-item:hover .nav-link {
   color: #bbbbcb;
}
.navbar .navber-button:hover {
  background: transparent;
  border-color: rgba(244, 246, 252, 0.2);
   color: #fff;
}
.navbar .navber-button {
	padding: 14px 32px;
	font-size: 14px;
    margin-left: 0px;
	
}
.button-box{
    text-align: center;
}
/* Navber part end */
/* Banner part start */


.banner {
	padding-top: 95px;
	padding-bottom: 123px;
}
.banner h1 {
	font-size: 32px;
	width: auto;
	line-height: 57px;
}
.banner p {
	font-size: 14px;
	width: auto;
	padding-top: 8px;
	padding-bottom: 29px;
}
.banner .common-button {
	padding: 12px 20px;
	font-size: 14px;
	
}
.banner .common-button-ani {
	font-size: 14px;
	
	margin-left: 34px;
	
}

.banner .common-button:hover {
  border-color: transparent;
  background: #fcd980;
 color: #000;
}
.banner .common-button-ani i {
 
  visibility: visible;
  opacity: 1;
}
.banner .common-button-ani:hover i {
  left: 94px;

}
.image-box{
    text-align: center;
    margin-top: 60px;
}
.image-box img{
    width: 90%;

}
/* Banner part end */
/* work part start */
.work h2 {
	font-size: 34px;
	
}
.work p {
	font-size: 16px;
	
	width: auto;
}
.common-icon {
  position: absolute;
  top: 5px;
  right: -34px;
  transition: 0.4s;
  color: #2405f2;
  margin-bottom: 30px;
}
.common-ani:hover .common-icon {
  right: -34px;
}
.work .item {
    margin-top: 30px;
	width: 100%;
	padding: 20px 8px;
	box-shadow: 0px 0px 5px black;
	border-radius: 4px;
}
.work .item p {
	
	width: auto;
	
}
/* work part end */
/* Project part statr */
.project {
	padding: 90px 0px;
}
.project .box {
	display: block;

}
.project h2 {
	font-size: 32px;
	
}
.overly-ani{
    margin-bottom: 30px;
}
.project img:last-child{
    margin-top: 30px;
}
.feature h2 {
	font-size: 34px;
	width: auto;
	line-height: 49px;
	
}

/* Project part end */
.accordion-button span {
	
	margin-right: 27px;
}
.accordion-button{
    font-size: 14px;
}
.accordion-body {
	margin: 0px 4px;
}

}
@media (min-width:576px) and (max-width:767.99px){
    /* Navber part start */
    .navbar-brand img {
	width: 95%;
}
    .navbar-toggler{
        border: 0px;
        margin-right: -20px;
        
    }
    .navbar-toggler:focus{
        box-shadow:0px 0px 0px transparent !important

    }
    .fa-solid{
        color: white;
        font-size: 16px;
    }
    .navbar-collapse{
        background: #3b0888f2;
        border-radius: 10px;
        margin-top: 20px;
    }
    .navbar-nav{
	
	padding: 20px 0px;
	align-items: center;
}
   .nav-item{
    padding: 10px 0px;
}
.navber-button{
    display: inline-block;
    margin-bottom: 10px;
}
.navbar .nav-item:hover .nav-link {
   color: #bbbbcb;
}
.navbar .navber-button:hover {
  background: transparent;
  border-color: rgba(244, 246, 252, 0.2);
   color: #fff;
}
.navbar .navber-button {
	padding: 14px 32px;
	font-size: 14px;
    margin-left: 0px;
	
}
.button-box{
    text-align: center;
}
/* Navber part end */
/* Banner part start */


.banner {
	padding-top: 95px;
	padding-bottom: 123px;
}
.banner h1 {
	font-size: 36px;
	width: auto;
	line-height: 57px;
}
.banner p {
	font-size: 14px;
	width: auto;
	padding-top: 8px;
	padding-bottom: 29px;
}
.banner .common-button {
	padding: 12px 20px;
	font-size: 14px;
	
}
.banner .common-button-ani {
	font-size: 14px;
	
	margin-left: 34px;
	
}

.banner .common-button:hover {
  border-color: transparent;
  background: #fcd980;
 color: #000;
}
.banner .common-button-ani i {
 
  visibility: visible;
  opacity: 1;
}
.banner .common-button-ani:hover i {
  left: 94px;

}
.image-box{
    text-align: center;
    margin-top: 60px;
}
.image-box img{
    width: 90%;

}
/* Banner part end */
/* work part start */
.work h2 {
	font-size: 34px;
	
}
.work p {
	font-size: 16px;
	
	width: auto;
}
.common-icon {
  position: absolute;
  top: 5px;
  right: -34px;
  transition: 0.4s;
  color: #2405f2;
  margin-bottom: 30px;
}
.common-ani:hover .common-icon {
  right: -34px;
}
.work .item {
    margin-top: 30px;
	width: 100%;
	padding: 20px 8px;
	box-shadow: 0px 0px 5px black;
	border-radius: 4px;
}
.work .item p {
	
	width: auto;
	
}
/* work part end */
/* Project part statr */
.project {
	padding: 90px 0px;
}
.project .box {
	display: block;

}
.project h2 {
	font-size: 32px;
	
}
.overly-ani{
    margin-bottom: 30px;
}
.project img:last-child{
    margin-top: 30px;
}
.feature h2 {
	font-size: 34px;
	width: auto;
	line-height: 49px;
	
}

/* Project part end */
.accordion-button span {
	
	margin-right: 27px;
}
.accordion-button{
    font-size: 14px;
}
.accordion-body {
	margin: 0px 4px;
}

}
@media (min-width:768px) and (max-width:991.99px){
    /* Navber part start */
    .navbar-brand img {
	width: 95%;
}
    .navbar-toggler{
        border: 0px;
        margin-right: -20px;
        
    }
    .navbar-toggler:focus{
        box-shadow:0px 0px 0px transparent !important

    }
    .fa-solid{
        color: white;
        font-size: 16px;
    }
    .navbar-collapse{
        background: #3b0888f2;
        border-radius: 10px;
        margin-top: 20px;
    }
    .navbar-nav{
	
	padding: 20px 0px;
	align-items: center;
}
   .nav-item{
    padding: 10px 0px;
}
.navber-button{
    display: inline-block;
    margin-bottom: 10px;
}
.navbar .nav-item:hover .nav-link {
   color: #bbbbcb;
}
.navbar .navber-button:hover {
  background: transparent;
  border-color: rgba(244, 246, 252, 0.2);
   color: #fff;
}
.navbar .navber-button {
	padding: 14px 32px;
	font-size: 14px;
    margin-left: 0px;
	
}
.button-box{
    text-align: center;
}
/* Navber part end */
/* Banner part start */


.banner {
	padding-top: 95px;
	padding-bottom: 123px;
}
.banner h1 {
	font-size: 36px;
	width: auto;
	line-height: 57px;
}
.banner p {
	font-size: 14px;
	width: auto;
	padding-top: 8px;
	padding-bottom: 29px;
}
.banner .common-button {
	padding: 12px 20px;
	font-size: 14px;
	
}
.banner .common-button-ani {
	font-size: 14px;
	
	margin-left: 34px;
	
}

.banner .common-button:hover {
  border-color: transparent;
  background: #fcd980;
 color: #000;
}
.banner .common-button-ani i {
 
  visibility: visible;
  opacity: 1;
}
.banner .common-button-ani:hover i {
  left: 94px;

}
.image-box{
    text-align: center;
    margin-top: 60px;
}
.image-box img{
    width: 90%;

}
/* Banner part end */
/* work part start */
.work h2 {
	font-size: 34px;
	
}
.work p {
	font-size: 16px;
	
	width: auto;
}
.common-icon {
  position: absolute;
  top: 5px;
  right: -34px;
  transition: 0.4s;
  color: #2405f2;
  margin-bottom: 30px;
}
.common-ani:hover .common-icon {
  right: -34px;
}
.work .item {
    margin-top: 30px;
	width: 100%;
	padding: 20px 8px;
	box-shadow: 0px 0px 5px black;
	border-radius: 4px;
}
.work .item p {
	
	width: auto;
	
}
/* work part end */
/* Project part statr */
.project {
	padding: 90px 0px;
}
.project .box {
	display: block;

}
.project h2 {
	font-size: 32px;
	
}
.overly-ani{
    margin-bottom: 30px;
}
.project img:last-child{
    margin-top: 30px;
}
.feature h2 {
	font-size: 34px;
	width: auto;
	line-height: 49px;
	
}

/* Project part end */
.accordion-button span {
	
	margin-right: 27px;
}
.accordion-button{
    font-size: 14px;
}
.accordion-body {
	margin: 0px 4px;
}

}
@media (min-width:992px) and (max-width:1199.99px){
    /* Navber part start */
   
/* Navber part end */
/* Banner part start */


.banner {
	padding-top: 95px;
	padding-bottom: 123px;
}
.banner h1 {
	font-size: 36px;
	width: auto;
	line-height: 57px;
}
.banner p {
	font-size: 14px;
	width: auto;
	padding-top: 8px;
	padding-bottom: 29px;
}
.banner .common-button {
	padding: 12px 20px;
	font-size: 14px;
	
}
.banner .common-button-ani {
	font-size: 14px;
	
	margin-left: 34px;
	
}

.banner .common-button:hover {
  border-color: transparent;
  background: #fcd980;
 color: #000;
}
.banner .common-button-ani i {
 
  visibility: visible;
  opacity: 1;
}
.banner .common-button-ani:hover i {
  left: 94px;

}
.image-box{
    text-align: center;
    margin-top: 60px;
}
.image-box img{
    width: 90%;

}
/* Banner part end */
/* work part start */
.work h2 {
	font-size: 34px;
	
}
.work p {
	font-size: 16px;
	
	width: auto;
}
.common-icon {
  position: absolute;
  top: 5px;
  right: -34px;
  transition: 0.4s;
  color: #2405f2;
  margin-bottom: 30px;
}
.common-ani:hover .common-icon {
  right: -34px;
}

/* work part end */
/* Project part statr */
.project {
	padding: 90px 0px;
}
.project .box {
	display: block;

}
.project h2 {
	font-size: 32px;
	
}
.overly-ani{
    margin-bottom: 30px;
}
.project img:last-child{
    margin-top: 30px;
}
.feature h2 {
	font-size: 34px;
	width: auto;
	line-height: 49px;
	
}

/* Project part end */
.accordion-button span {
	
	margin-right: 27px;
}
.accordion-button{
    font-size: 14px;
}
.accordion-body {
	margin: 0px 4px;
}

}
@media (min-width:1200px) and (max-width:1399.99px){
    /* Navber part start */
   
/* Navber part end */
/* Banner part start */


.banner {
	padding-top: 95px;
	padding-bottom: 123px;
}
.banner h1 {
	font-size: 36px;
	width: auto;
	line-height: 57px;
}
.banner p {
	font-size: 14px;
	width: auto;
	padding-top: 8px;
	padding-bottom: 29px;
}
.banner .common-button {
	padding: 12px 20px;
	font-size: 14px;
	
}
.banner .common-button-ani {
	font-size: 14px;
	
	margin-left: 34px;
	
}

.banner .common-button:hover {
  border-color: transparent;
  background: #fcd980;
 color: #000;
}
.banner .common-button-ani i {
 
  visibility: visible;
  opacity: 1;
}
.banner .common-button-ani:hover i {
  left: 94px;

}
.image-box{
    text-align: center;
    margin-top: 60px;
}
.image-box img{
    width: 90%;

}
/* Banner part end */
/* work part start */
.work h2 {
	font-size: 34px;
	
}
.work p {
	font-size: 16px;
	
	width: auto;
}
.common-icon {
  position: absolute;
  top: 5px;
  right: -34px;
  transition: 0.4s;
  color: #2405f2;
  margin-bottom: 30px;
}
.common-ani:hover .common-icon {
  right: -34px;
}

/* work part end */
/* Project part statr */
.project {
	padding: 90px 0px;
}
.project .box {
	display: block;

}
.project h2 {
	font-size: 32px;
	
}
.overly-ani{
    margin-bottom: 30px;
}
.project img:last-child{
    margin-top: 30px;
}
.feature h2 {
	font-size: 34px;
	width: auto;
	line-height: 49px;
	
}

/* Project part end */
.accordion-button span {
	
	margin-right: 27px;
}
.accordion-button{
    font-size: 14px;
}
.accordion-body {
	margin: 0px 4px;
}

}